/.DS_Store
/arr.html
/assets
/blog.html
/calc.html
/data-table.html
/footer.html
/form.html
/header.html
/index2.html
/jquery.html
/js
/login.html
/photos
/plugins.html
/react.html
/signup.html
/ui-old.html
/ui.html
/vue.html